body {
    margin: 0;
    padding: 0;
  
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: #cddddd;
}

#piano {
    height: 300px;
    padding: 90px 30px 0 30px;
    background-color: #97461e;
    border-radius: 10px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20vh;
    
    box-shadow: 0px 2px 2px 0px;
    display:flex;
    width: fit-content;

    
  
  

}

.keys {
    position: relative;
}

.white-keys {
    display: flex;
}

.black-keys {
    position: relative;
    display: flex;
}

.white-key {
    width: 68px;
    height: 280px;
    border-radius: 0 0 5px 5px;
    border: solid #000 2px;
    box-sizing: border-box;
    background-color: white;
}

.white-key:active {
    box-shadow: 0px 2px 5px 0px;
    border-radius: 0 0 10px 10px;
    border-bottom: solid #000 4px;
    border-top: 2.5px solid #000;
    border-left:3px solid #000;
    border-right: 3px solid #000;
}

.black-key {
    width: 38px;
    height: 160px;
    border-radius: 0 0 5px 5px;
    box-sizing: border-box;
    background-color: black;
    position: absolute;
    border: solid #000 2px;
}

.black-key:active {
    box-shadow: 0px 3px 3px 0px rgb(12, 0, 0);
    border-radius: 0 0 8px 8px;
    border: .1px solid rgb(251, 248, 248);
}

.black-key:nth-child(1) {
    left: 48px;
}

.black-key:nth-child(2) {
    left: 117px;
}

.black-key:nth-child(3) {
    left: 253px;
}

.black-key:nth-child(4) {
    left: 320px;
}

.black-key:nth-child(5) {
    left: 389px;
}

.black-key:nth-child(6) {
    left: 525px;
}

.black-key:nth-child(7) {
    left: 594px;
}

.black-key:nth-child(8) {
    left: 662px;
}

.black-key:nth-child(9) {
    left: 797px;
}
.black-key:nth-child(10) {
    left: 865px;
}
.black-key:nth-child(11) {
    left: 930px;
}

p,b{
    margin-top: 230px;
    text-align: center;
    text-transform: uppercase;
}
.b{
    color: white;
    margin-top: 120px;
}
#maincode{
    display: block;
    width: 15vh;
    height: 15vh;
    background-color: #97461e;
    margin-top: 200px;
    text-align: center;
    
    
    
}

#code{
    color: #000;
    
}

